@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin: 0;
    background-image: url('../Imagenes/background.webp');
    background-size:contain;
}
.form-structure{
    width: 100%;
    display: flex;
}
.form-left, .form-right{
    width: 50%;
    height: 91vh;
}
.form-left{

}
.form-right{
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.title{
    margin-bottom: 35px;
    font-size: 40px;
    font-family: 'Roboto Condensed';
}
p, label, th, td{
    font-family: 'Montserrat', sans-serif;
}
.input-labels{
    width: 80%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
.input-labels input{
    margin-top: 20px;
}
input{
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.6;
    transition: all 0.5s ease-out;
}
.input-labels input:focus{
    margin-top: 15px;
}
input:focus{
    outline: none;
    opacity: 0.9;
    transition: all 0.5s ease-out;
    border-bottom: 1.2px solid white;
    transform: scaleX(1.1)
}
label{
    display: flex;
    flex-direction: column;
}
table{
    width: 80%;
}
th, td{
    width: 30%;
    text-align: left;
}
td input{
    width: 80px;
}
button{
    width: 220px;
    padding: 10px 0px;
    margin-top: 35px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    background-color: white;
    border: none;
}
button:hover{
    cursor: pointer;
}
.bottom-label{
    height: 9vh;
    background-color: rgba(0, 42, 81, 0.5);
    /* background-color: #002a51; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
p{
    margin: 0;
}
/* 
body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px 0;
    background-color: aquamarine;
}

form{
    height: 1470px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
}

input, button{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

button{
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 5px black;
    background-color: aqua;
    border: 1px solid black;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 5px black;
    background-color: whitesmoke;
}

table{
    border: 1px solid black;
    margin-bottom: 20px;
}

td, th{
    text-align: left;
    width: 100px;
}

td input{
    width: 80%;
    height: 80%;
} 
*/

