@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    margin: 0;
    background-image: url('../Imagenes/background.webp');
    background-size:cover;
}
.form-structure{
    width: 100%;
    display: flex;
}
.form-left, .form-right{
    height: calc(100vh - 46px);
    padding: 60px 100px;
    box-sizing: border-box;
}
.form-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.title{
    margin-bottom: 35px;
    font-size: 40px;
    font-family: 'Roboto Condensed';
    color: white;
}
.adjustment-size{
    font-size: 55px;
}
.sub-title{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
p, label, th, td{
    font-family: 'Montserrat', sans-serif;
}
.input-labels{
    width: 80%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
.input-labels input{
    margin-top: 20px;
}
input{
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.6;
    transition: all 0.5s ease-out;
}
.input-labels input:focus{
    margin-top: 15px;
}
input:focus{
    outline: none;
    opacity: 0.9;
    transition: all 0.5s ease-out;
    border-bottom: 1.2px solid white;
    transform: scaleX(1.1)
}
label{
    display: flex;
    flex-direction: column;
}
table{
    margin-top: 20px;
    width: 80%;
}
th, td{
    width: 30%;
    text-align: left;
}
td input{
    width: 80px;
}
button{
    width: 220px;
    padding: 10px 0px;
    margin-top: 35px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    background-color: white;
    border: none;
}
button:hover{
    cursor: pointer;
}
.bottom-label{
    padding: 8px 0;
    height: 30px;
    background-color: rgba(0, 42, 81, 0.5);
    /* background-color: #002a51; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
p{
    margin: 0;
}
@media (max-width: 900px){
    .form-left{
        display: none;
    }
    .form-right{
        width: 100%;
    }
}
@media (max-width: 650px){
    .form-right{
        padding: 20px 30px;
    }
    .input-labels{
        width: 100%;
    }
}
@media (max-width: 430px){
    td input{
        width: 40px;
    }
}
